*{
    margin: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(img/trial5.jpeg);
   background-position: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
nav{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    opacity: 0.8;
}
.bars{
    color: white;
    display: none;
}
nav .c-name{
    color: greenyellow;
    font-size: 40px;
}
nav ul{
    display: flex;
}
.links{
    /* list-style-type: none; */
    /* display: flex; */
}
.links li{
    list-style: none;
}
.links a{
    text-decoration: none;
    color: white;
    display: flex;
    width: 100px;
    font-size: 20px;
    font-variant: small-caps;
    transition: 0.4s ease;
}
.links a:hover{
    color: greenyellow;
}

section{
    min-height: 67vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    margin: 10px auto;
    border-radius: 6px;
    /* border: 2px solid brown; */
    line-height: 40px;
    font-size: xx-large;
}

.sign input{
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    opacity: 0.6;
    font-size: 15px;
}
.login h2{
    padding: 18px;
}
.sign button, a{
    color: rgb(207, 152, 13);
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
}
.sign button{
    padding: 8px 40px;
    cursor: pointer;
    background-color: black;
    opacity: 0.7;
    transition: 0.5s ease;
    border-radius: 8px;
    position: relative;
    border: none;
}
.sign button:hover{
   background-color: #eee;
   top: -2px;
}
/* .footer{
    margin: 8px;
    
}
.sign-option{
    line-height: 25px;
}
.logoo{
    margin: 8px;
}
.logoo a{
    padding: 12px 8px;
    font-size: 25px;
} */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}
.logoo {
   margin: 11px;
}
.logoo a{
    padding: 12px 8px; 
    font-size: 25px;
    transition: 0.5s ease;
    position: relative;
}
.logoo a:hover{
    color: greenyellow;
    top: -2px;
} 

@media screen and (max-width: 1090px){
    nav .c-name{
        font-size: 30px;
    }
    nav .links a{
        font-size: 18px;
        width: 80px;
    }
  
}
@media screen and (max-width: 760px){
    body{
        overflow: hidden;
    }
    nav .c-name{
        font-size: 30px;
    }
    nav .links a{
        font-size: 15px;
        /* display: none; */
    }
    .bars{
        display: block;
    }
    .bars:hover{
        cursor: pointer;
        color: greenyellow;
    }
    .links{
        position: absolute;
        right: 0;
        height: auto;
        top: 16vh;
        background-color: black;
        width: 30%;
        transform: translateX(100%);
    }
    .links ul{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
  
}

